# Cloudflare Environment & API Keys
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

# D1 Database Configuration
D1_DATABASE_NAME=classque_db
D1_DATABASE_ID=

# Application Settings
VITE_APP_TITLE="ClassQue-TeachAssist"
VITE_APP_VERSION="1.0.0"
